## imports

In [11]:
import pandas as pd

In [12]:
df_librarie = pd.read_excel('data/excelfiles/Urheber und Reihen.xlsx', sheet_name='Recherche', header=0)

df_blatter = pd.read_feather('data/feather/df_neuheiten_blatter.feather')
#df_buchhaus = pd.read_feather('data/feather/df_neuheiten_buchhaus.feather')

## Data Wrangling Urheber und Reihen

In [13]:
df_librarie

                 1. Urheber                       Alle Reihen
0                       NaN                      Asterix ; 20
1                       NaN                               NaN
2         May, Werner Jakob                               NaN
3      Schwaar, Hans Ulrich                               NaN
4          Engel, Franziska                               NaN
...                     ...                               ...
13723                   NaN  Schweizer Illustrierte ; 16/2023
13724                   NaN        Schweizer Garten ; 05/2023
13725       Guzowska, Marta                               NaN
13726      Gilbert, Lindsay                               NaN
13727       Bradford, Chris                Die Soul-Reihe ; 1

[13728 rows x 2 columns]

In [14]:
# add new column to df_libarie with the second element in alle reihen after the semicolon
df_librarie['Reihe'] = df_librarie['Alle Reihen'].str.split(';').str[1]
df_librarie['Auflage'] = df_librarie['Alle Reihen'].str.split(';').str[0]

df_librarie = df_librarie[['1. Urheber', 'Auflage', 'Reihe']]

In [15]:
df_librarie

                 1. Urheber                  Auflage     Reihe
0                       NaN                 Asterix         20
1                       NaN                      NaN       NaN
2         May, Werner Jakob                      NaN       NaN
3      Schwaar, Hans Ulrich                      NaN       NaN
4          Engel, Franziska                      NaN       NaN
...                     ...                      ...       ...
13723                   NaN  Schweizer Illustrierte    16/2023
13724                   NaN        Schweizer Garten    05/2023
13725       Guzowska, Marta                      NaN       NaN
13726      Gilbert, Lindsay                      NaN       NaN
13727       Bradford, Chris          Die Soul-Reihe          1

[13728 rows x 3 columns]

## Datawrangling

In [57]:
df_blatter.head()

,title,untertitel,autor,verlag,preis,seiten,sprache,einband,erscheinungsjahr,artikelnummer,isbn,auflage,reihe,reihenbandnummer,text
0,Die spürst du nicht,Roman,"Glattauer, Daniel",Zsolnay,CHF 34.50,304 S.,Deutsch,Fester Einband,2023,42421530,978-3-552-07333-3,nan,nan,nan,Der Bestsellerautor Daniel Glattauer lässt in ...
1,Besser allein als in schlechter Gesellschaft,Meine eigensinnige Tante,"Altaras, Adriana",Kiepenheuer & Witsch,CHF 30.50,240 S.,Deutsch,Fester Einband,2023,42779017,978-3-462-00424-3,1. Auflage,nan,nan,"Adriana Altaras erzählt von ihrer Tante, der s..."
2,Sommerschwestern - Die Nacht der Lichter,Roman,"Peetz, Monika",Kiepenheuer & Witsch,CHF 23.90,352 S.,Deutsch,Kartonierter Einband (Kt),2023,42779092,978-3-462-00398-7,1. Auflage,Die Sommerschwestern-Romane,02,Monika Peetz' vier »Sommerschwestern« kehren z...
3,Der heutige Tag,Ein Stundenbuch der Liebe,"Schubert, Helga",DTV,CHF 32.90,272 S.,Deutsch,Fester Einband,2023,42827274,978-3-423-28319-9,1. Auflage,nan,nan,»Vielleicht ist einer von uns morgen schon nic...
4,Der große Preis von Schmonaco,Ein Roman aus der Welt von Minecraft FREEDOM v...,"Paluten / Kern, Klaas (Zus. mit) / Zinner, Iri...",Community Editions,CHF 21.50,220 S.,Deutsch,Fester Einband,2023,42874349,978-3-96096-961-7,nan,1. Aufl. 2023,Ein Roman aus der Welt von Minecraft FREEDOM,Achtung - anschnallen! Im neuen FREEDOM-Band w...

In [58]:
df_librarie.head()

          1. Urheber             Alle Reihen Reihennummer
0     Zysk, Stefanie                    None         None
1  Zwicker, Frédéric                    None         None
2       Zwick, Julia                    None         None
3  Zweimüller, Josef                    None         None
4      Zusak, Markus  Blanvalet Taschenbuch         37395

In [59]:
# count all None values in the dataframe
df_librarie.isnull().sum()

1. Urheber      3092
Alle Reihen     7916
Reihennummer    9865
dtype: int64

In [60]:
df_librarie['Alle Reihen'].describe()

count                   5869
unique                  1497
top       Die drei ??? Kids
freq                     104
Name: Alle Reihen, dtype: object

## book analysis

In [61]:
# autors which have new books on the market and are in the librarie
interresting_books = df_blatter[df_blatter['autor'].isin(df_librarie['1. Urheber'])]
interresting_books.head()

,title,untertitel,autor,verlag,preis,seiten,sprache,einband,erscheinungsjahr,artikelnummer,isbn,auflage,reihe,reihenbandnummer,text
0,Die spürst du nicht,Roman,"Glattauer, Daniel",Zsolnay,CHF 34.50,304 S.,Deutsch,Fester Einband,2023,42421530,978-3-552-07333-3,nan,nan,nan,Der Bestsellerautor Daniel Glattauer lässt in ...
2,Sommerschwestern - Die Nacht der Lichter,Roman,"Peetz, Monika",Kiepenheuer & Witsch,CHF 23.90,352 S.,Deutsch,Kartonierter Einband (Kt),2023,42779092,978-3-462-00398-7,1. Auflage,Die Sommerschwestern-Romane,02,Monika Peetz' vier »Sommerschwestern« kehren z...
5,Bündner Sturm,Ein Fall für Giulia de Medici,"Gurt, Philipp",Kampa Verlag,CHF 24.90,336 S.,Deutsch,Kartonierter Einband (Kt),2023,42907560,978-3-311-12060-5,Ein Fall für Giulia de Medici,06,nan,Ein Sturm zieht über das herbstlich gefärbte E...
8,"Windhauch, das ist alles Windhauch",Roman,"Ryser, Werner",Cosmos,CHF 36.00,272 S.,Deutsch,Fester Einband,2023,43216342,978-3-305-00492-8,nan,nan,nan,"«Jetzt kehre ich als Bettler dorthin zurück, w..."
15,Bretonische Idylle,Kommissar Dupins zehnter Fall,"Bannalec, Jean-Luc",Kiepenheuer & Witsch,CHF 18.50,336 S.,Deutsch,Kartonierter Einband (Kt),2023,42779812,978-3-462-00489-2,1. Auflage,Kommissar Dupin ermittelt,10,Malerische Abgründe - Kommissar Dupin ermittel...

In [62]:
# Reihen which have new books on the market and are in the librarie
df_blatter[df_blatter['reihe'].isin(df_librarie['Alle Reihen'])]

Empty DataFrame
Columns: [title, untertitel, autor, verlag, preis, seiten, sprache, einband, erscheinungsjahr, artikelnummer, isbn, auflage, reihe, reihenbandnummer, text]
Index: []

In [63]:
# Reihennummer which have new books on the market and are in the librarie
df_blatter[df_blatter['reihenbandnummer'].isin(df_librarie['Reihennummer'])]

Empty DataFrame
Columns: [title, untertitel, autor, verlag, preis, seiten, sprache, einband, erscheinungsjahr, artikelnummer, isbn, auflage, reihe, reihenbandnummer, text]
Index: []

## export

In [64]:
interresting_books.reset_index(drop=True, inplace=True)

interresting_books.to_excel('data/excelfiles/df_interresting_books.xlsx', index=False)
interresting_books.to_feather('data/feather/df_interresting_books.feather')

## Ausblick

Weitere Informationen:

* Buchtitel der bestehenden Bücher um doppelte bücher zu erkennen